<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Página HTML</title>
    <style>
        h1 {
            color: red;
        }
        button {
            background-color: green;
            color: white;
            padding: 10px 15px;
            border: none;
            cursor: pointer;
            font-size: 16px;
        }
        button:hover {
            background-color: darkgreen;
        }
    </style>
</head>
<body>
    <h1>Marea Zero KM</h1>
    <button onclick="alert('Acessando!')">Acessar</button>
    <img src="{{ url_for('static', filename='marea_bomba.jpg') }}" alt="Imagem do Marea">
</body>
</html>




